@charset "utf-8";

/*---Fonts, body, button setting start---*/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
	font-family: 'Jua', sans-serif;
	font-weight: normal;
}
body{
	background: #1a5f9c;
}
div{
	margin:0 auto;
	width: 800px;
}
button{
	font-size: 150%;
	background: #274259;
	color: white;
	padding: 5px 15px;
}
button:hover{
	background: #b2c4d4;
	color:black;
}
/*---Fonts, body setting end---*/

/*---Title setting start---*/
#title{
	margin-top: 20px;
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white; 
	color: #274259;
	background: #61ad5f;
}
/*---Title setting end---*/

/*---Main div setting start---*/
#main{
	background: #d4eafc;
	padding:10px;
	width: 820px;
}
/*---Main div setting end---*/

/*---Back div setting start---*/
#main>#back{
	width: 820px;
	margin-left: 10px;
}
#main>#back button{
	margin-bottom: 10px;
	margin-left:0;
	padding: 5px 15px;
}
#main>#back #back-cate{
	margin-left: 520px;
}
/*---Back div setting end---*/

/*---Product div setting start---*/
#product {
	height: 200px;
	border: 1px solid gray;
	background: white;
	overflow: auto;
}
#product img{
	width: 210px;
	float: left;
	margin:10px;
}
#product button{
	padding: 5px;
	font-size: 100%;
}
#product h3{
	margin: 5px 10px;
}
/*---Product div setting end---*/

/*---Edit div setting start---*/
#main>#edit>h2{
	margin-bottom: 10px
}
#main>#edit>#in{
	text-align: center;
	margin-top: 10px;
}
#main>#edit>#in>input{
	width: 110px;
	font-size: 100%;
}
#main>#edit>#in>#update{
	font-size: 100%;
}
/*---Edit div setting end---*/

/*---Current div setting start---*/
#current{
	background: #d4eafc;
	padding:10px;
	width: 820px;
	margin-top: 10px;
}
#current>h2{
	margin: 10px;
}
#current>h2>button{
	margin: 5px 5px;
	font-size: 100%;
}
/*---Current div setting end---*/

/*---Graph div setting start---*/
#p_chart{
	height: 300px;
	border: 1px solid gray;
	background: white;
}
/*---Graph div setting start---*/

/*---Search div setting start---*/
#search{
	background: #d4eafc;
	padding:10px;
	width: 820px;
	margin-top: 10px;
}
#search>h2{
	margin: 10px;
}
#search>h2>input{
	width: 200px;
	font-size: 100%;
}
#search>h2>#srch_b{
	font-size: 100%;
}
#search>#srch_r{
	width:800px;
	height: 400px;
	overflow: auto;
	background: white;
	border: 1px solid gray;
}
/*---Search div setting end---*/